<p>
  Write the name of a Pokémon to see trainers that have caught it.
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="pokemon-input">
    <input matInput formControlName="pokemonName" placeholder="Pokémon name" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let pokemon of (filteredPokemon$ | async)" [value]="pokemon">
        {{ pokemon.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="form.invalid">Select</button>
</form>
