<p>
  Description goes here. Most likely it will never be filled.
</p>

<p>
  In meanwhile, navigate to:
</p>

<ul>
  <li *ngIf="cookieReadingService.hasCookie(mapCookieName)">
    <a class="nav-link text-dark link-active" [routerLink]="" (click)="redirectToMap()">Map</a> to see what is happening in your area.
  </li>
  <li>
    <a routerLink="/trainer">Trainer</a> to see one's Pokédex completion.
  </li>
  <li>
    <a routerLink="/pokemon">Pokémon</a> to see who has a given Pokémon.
  </li>
</ul>
