.mb-4 {
  margin-bottom: 4px;
}

.inline {
  display: inline-block;
  margin: 5px 5px 5px 5px;
}

.full-width {
  margin-top: 5px;
  width: 100%;
}

.block {
  display: block;
  width: 100%;
  padding: 14px 28px;
  margin-top: 7px;
  margin-bottom: 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
