<ng-container *ngIf="loaded else loading">
  <h2>{{ trainerName }}'s LuckyDex</h2>

  <p>Last modified: {{ lastModified | date:'medium' }}</p>

  <div>
    <mat-form-field class="full-width">
      <textarea [(ngModel)]="trainerComment" rows="8" matInput placeholder="Comment"></textarea>
    </mat-form-field>
  </div>

  <div class="inline" *ngFor="let card of cards">
    <ld-pokemon-card [data]="card"></ld-pokemon-card>
  </div>

  <button class="block" mat-raised-button (click)="onClick()">Save</button>
</ng-container>

<ng-template #loading>
  <mat-spinner [diameter]="40"></mat-spinner>
</ng-template>
